name: Build and Push to ECR

on:
  push:
    branches: [ "master" ]  # ou "master", depende de como seu repositório está configurado

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Passo 1: Checar o código do repositório
      - name: Check out the repo
        uses: actions/checkout@v2

      # Passo 2: Configurar credenciais da AWS
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  # Ajuste para sua região

      # Passo 3: Login no ECR
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 \
            | docker login --username AWS --password-stdin 946045011882.dkr.ecr.us-east-1.amazonaws.com

      # Passo 4: Build da imagem Docker
      - name: Build Docker image
        run: |
          docker build -t my-hello-world-app:latest .

      # Passo 5: Taguear a imagem
      - name: Tag image
        run: |
          docker tag my-hello-world-app:latest 946045011882.dkr.ecr.us-east-1.amazonaws.com/my-hello-world-repo:latest

      # Passo 6: Push da imagem para o ECR
      - name: Push to Amazon ECR
        run: |
          docker push 946045011882.dkr.ecr.us-east-1.amazonaws.com/my-hello-world-repo:latest
